* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.header-1 {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    align-items: center;
    text-align: center;
    height: 56px;
}

.option {
    display: flex;
}

.option-1 {
    padding: 0 10px;
}

.logo {
    background-size: cover;
    background-image: url(img/logo.png);
    max-width: 100%;
    width: 23.15px;
    height: 34.73px;
    margin-right: 10px;
}

.download {
    background-size: cover;
    background-image: url(img/download.png);
    max-width: 100%;
    width: 20px;
    height: 20px;
    margin: 0 10px;
}
.BG-resume{
    background-color: black;
}