* {
    padding: 0;
    margin: 0;
    font-family: system-ui;
}

.header-1 {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    align-items: center;
    text-align: center;
    height: 56px;
    margin: 24px 0;
}

.option {
    display: flex;
    text-decoration: none;
}

.option-1 {
    padding: 0 10px;
    text-decoration: none;
    color: black;
}

.logo {
    background-size: cover;
    background-image: url(img/logo.png);
    max-width: 100%;
    width: 23.15px;
    height: 34.73px;
    margin-right: 10px;
}

.download {
    background-size: cover;
    background-image: url(img/download.png);
    max-width: 100%;
    width: 20px;
    height: 20px;
    margin: 0 10px;
}

.BG-resume {
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.section-1 {
    margin-top: 60px;
    position: relative;
    margin-bottom: 60px;
}

.frame-20 {
    background-size: cover;
    background-image: url(img/Frame\ 20.png);
    max-width: 90%;
    height: 596px;
    width: 829px;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
}

.text1-sec1 {
    font-weight: 400;
    font-size: 48px;
    padding-right: 8px;
}

.text2-sec1 {
    font-weight: 800;
    font-size: 48px;
    padding-right: 8px;
}

.text3-sec1 {
    font-weight: 800;
    font-size: 48px;
    padding-right: 8px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;
}

.text4-sec1 {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 120px;
}

.flex-sec1 {
    display: grid;
    grid-template: auto/ repeat(2, 1fr);
    gap: 10px;
}

.intro {
    padding-top: 110px;
}

.four-button {
    padding-left: 32px;
}

.section-2 {
    margin-top: 60px;
    margin-bottom: 60px;
}

.grid-skills {
    display: grid;
    grid-template: auto/ repeat(5, 1fr);
    gap: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-3 {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: black;
    color: white;
}

.text1-sec3 {
    font-weight: 600;
    font-size: 24px;
}

.text2-sec3 {
    font-weight: 600;
    font-size: 16px;
}

.flex-sec3 {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 28px;
    margin-left: 24px;
    margin-right: 24px;
}

.text3-sec3 {
    font-weight: 400;
    font-size: 16px;
    margin-left: 24px;
    margin-right: 24px;
    padding-bottom: 30px;
}

.pad-sec3 {
    padding-bottom: 30px;
}

.section-4 {
    padding: 60px 0;
}

.grid-sec4 {
    display: grid;
    grid-template: auto/repeat(2, 1fr);
    gap: 30px;
}

.text1-sec4 {
    font-weight: 400;
    font-size: 48px;
    padding: 16px;
}

.text2-sec4 {
    font-weight: 800;
    font-size: 48px;

}

.text3-sec4 {
    padding-top: 20px;
    font-weight: 400;
}

.section-5 {
    background-color: black;
    color: white;
}

.layout-sec5 {
    padding: 20px 0px;
}

.text1-sec5 {
    padding-bottom: 28px;
}

.text2-sec5 {
    font-size: 32px;
    font-weight: 700;
}

.text3-sec5 {
    font-size: 16px;
}

.row-gap {
    gap: 80.55px;
}

.text4-sec5 {
    margin: auto 0;
}

.section-6 {
    padding: 60px 0;
}

.text1-sec6 {

    background-color: black;
    width: 120px;
    height: 2px;
    margin-right: 100px;
    margin-left: 100px;
}

.text2-sec6 {
    font-weight: 400;
    color: #404040;
    padding-right: 40px;
    padding-left: 40px;
}

.text3-sec6 {
    font-weight: 600;
    font-size: 20px;
    color: #404040;
}

.text4-sec6 {
    font-weight: 600;
    color: #71717A;
    padding-bottom: 40px;
}

.grid-sec6 {
    display: grid;
    grid-template: auto/repeat(3, 1fr);
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 24px;
    padding-right: 24px;
    gap: 29px;
}

.text5-sec6 {

    background-color: rgb(255, 255, 255);
    width: 120px;
    height: 2px;
    margin-right: 100px;
    margin-left: 100px;
}

.text6-sec6 {
    font-weight: 400;
    color: white;
    padding-right: 40px;
    padding-left: 40px;
}

.text7-sec6 {
    font-weight: 600;
    font-size: 20px;
    color: white;
}

.text8-sec6 {
    font-weight: 600;
    color: white;
    padding-bottom: 40px;
}

.section-7 {
    padding: 60px 0;
}

.input-three {
    height: 56px;
    width: 500px;
    padding: 18px 24px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1.4px solid black;
}

.input-4 {
    width: 500px;
    height: 140px;
    padding: 18px 24px;
    border-radius: 4px;
    border: 1.4px solid black;
    margin-bottom: 20px;
}

.text1-sec7 {
    width: 173px;
    height: 56px;
    border-radius: 4px;
    padding: 16px 20px;
    background-color: black;
    color: white;
    text-align: center;
    margin-right: 24px;
    font-weight: 600;
    font-size: 20px;
}

.flex-sec7 {
    display: flex;
}

.text2-sec7 {
    margin-right: 24px;
}

.text3-sec7 {
    font-weight: 800;
    font-size: 48px;
}

.text4-sec7 {
    font-weight: 800;
    font-size: 48px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;
}

.text5-sec7 {
    font-weight: 400;
    font-size: 16px;
    color: #71717A;
}

.text6-sec7 {
    font-weight: 600;
    font-size: 28px;

}

.text7-sec7 {
    padding: 66px 0;
}

footer {
    background-color: black;
}

.text1-footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 24px;

}

.text2-footer {
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}
.text3-footer{
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
} 

.btn-hamber{
    display: none;
    position: absolute;
    top: 20px;
    right: 16px;
    max-width: 100%;
}
/* Định dạng cho màn hình có kích thước nhỏ hơn 768px */
@media (max-width: 768px) {
    .btn {
      flex-direction: column; /* Sắp xếp các phần tử theo chiều dọc */
      
    
    }
    .btn-hamber{
        display: block;
    }
    .header-1{
        display: block;/*cho btn xuống dòng */
    }
    .option {
      margin-bottom: 10px; /* Tạo khoảng cách giữa các phần tử */
    }
    .BG-resume {
      display: none;/* Điều chỉnh vị trí của nút Resume */
    }
  }
  
  