* {
    padding: 0;
    margin: 0;
    font-family: sora;
    line-height: auto;
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
}

@font-face {
    font-family: sora;
    src: url('../girl/font/Sora-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: extra-bold;
    src: url('../girl/font/static/Sora-ExtraBold.ttf') format('truetype');

}

@font-face {
    font-family: regular;
    src: url('../girl/font/static/Sora-Regular.ttf') format('truetype');

}

.header-1 {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    align-items: center;
    text-align: center;
    height: 56px;
    margin: 24px 0;
}

li {
    list-style: none;
}

.option {
    display: flex;
    text-decoration: none;
}

.option-1 {
    padding: 0 10px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.logo {
    background-size: cover;
    background-image: url(img/logo.png);
    max-width: 100%;
    width: 23.15px;
    height: 34.73px;
    margin-right: 10px;
}

.download {
    background-size: cover;
    max-width: 100%;
    width: 20px;
    height: 20px;
    margin: 0 10px;
}

.BG-resume {
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    text-align: center;

}

.BG-resume:hover {
    border: 2px solid rgb(92, 7, 7);
}

.section-1 {
    margin-top: 60px;
    position: relative;
    margin-bottom: 60px;
}

.grid1-sec1 {
    display: grid;
    grid-template: auto/ repeat(2, 1fr);
}

.img1-sec1 {
    max-width: 100%;
    height: auto;
    width: 796px;
}

.text1-sec1 {
    font-weight: 400;
    font-size: 48px;
    color: #000;
    font-family: regular;
}

.text11-sec3 {
    font-weight: 400;
    font-size: 48px;
    color: white;
    font-family: regular;
}

.text2-sec1 {
    font-weight: 800;
    font-size: 48px;
    color: #000;
    font-family: extra-bold;
}

.text222-sec1 {
    font-weight: 800;
    font-size: 48px;
    color: white;
    font-family: extra-bold;
    padding-left: 16px;
}

.text111-sec1 {
    font-weight: 400;
    font-size: 48px;
    color: white;
    font-family: regular;

}

.text22-sec3 {
    font-weight: 800;
    font-size: 48px;
    color: white;
    font-family: extra-bold;
    padding-left: 16px;
}

.text3-sec1 {
    font-weight: 800;
    font-family: extra-bold;
    font-size: 48px;
    color: white;
    background-color: white;
    text-shadow: -2.5px -2.5px 0 #000, 2.5px -2.5px 0 #000, -2.5px 2.5px 0 #000, 2.5px 2.5px 0 #000;
}

.text4-sec1 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 74px;
    color: #71717A;
}

.text5-sec1 {
    font-family: extra-bold;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: black;
    padding-top: 32px;
    background-color: white;
}

.tex6-sec2 {
    height: 186px;
    width: 186px;
    border-radius: 4px;
    border: 1px solid black;
    margin: auto 0;
    cursor: pointer;
    max-width: 100%;
    margin-top: 20px;
    margin-right: 20px;
}

.tex6-sec2 :hover .text5-sec1 {
    color: white;
    background-color: black;
}

.tex6-sec2 :hover .img11-sec1 {
    border: 1px solid black;
}

.tex6-sec2:hover {
    background-color: #000;
}

.flex-sec1 {
    display: grid;
    grid-template: auto/ repeat(2, 1fr);
    gap: 10px;
}

.intro {
    padding-top: 110px;
}

.flex11-sec1 {
    display: flex;
    gap: 32px;
}

.four-button {
    background-color: #FFFFFF;
    border: 1px solid black;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    height: 56px;
    width: 56px;
    text-align: center;
}

.four-button:hover {
    background-color: rgb(0, 0, 0);
    border-image: 2px solid white;
    color: #FFFFFF;
}

.img11-sec1 {
    font-size: 56px;
    padding: 1px;
    background-color: #FFFFFF;
    margin-top: 37px;
}

.center {
    margin: 0 auto;
    text-align: center;
    align-items: center;
    max-width: 100%;
    height: 100%
}

.section-2 {
    margin-top: 60px;
    margin-bottom: 60px;
}

.grid-skills {
    display: grid;
    grid-template: auto/ repeat(5, 1fr);
    gap: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-3 {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: black;
    color: white;
}

.text1-sec3 {
    font-weight: 600;
    font-size: 24px;
}

.text2-sec3 {
    font-weight: 600;
    font-size: 16px;
    color: #D4D4D8;
    height: 100%;
}

li a:hover {
    background-color: #404040;
    color: white;
    border: 1px solid black;
    padding: 10px 5px;
    border-radius: 5px;
}

.flex-sec3 {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 28px;
    margin-left: 24px;
    margin-right: 24px;
}

.text3-sec3 {
    font-weight: 400;
    font-size: 16px;
    margin-left: 24px;
    margin-right: 24px;
    padding-bottom: 30px;
}

.pad-sec3 {
    border: 1px solid #71717A;
    border-radius: 10px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 0;
}

.pad-sec3 :hover {
    background-color: #71717A;
    color: #D4D4D8;
    border-radius: 7px;
    height: 100%;
    max-width: 100%;
    cursor: pointer;
}

.section-4 {
    padding: 60px 0;
}

.grid-sec4 {
    display: grid;
    grid-template: auto/repeat(2, 1fr);
    gap: 30px;
}

.text1-sec4 {
    font-weight: 400;
    font-size: 48px;
    padding: 16px;
    color: #000;
}

.text2-sec4 {
    font-weight: 800;
    font-size: 48px;
    color: #000;
    font-family: extra-bold;
}

.text22-sec5 {
    font-weight: 800;
    font-size: 48px;
    color: white;
    font-family: extra-bold;
}

.text3-sec4 {
    padding-top: 20px;
    font-weight: 400;
}

.section-5 {
    background-color: black;
    color: white;
}

.layout-sec5 {
    padding: 20px 0px;
}

.text1-sec5 {
    padding-bottom: 28px;
}

.text2-sec5 {
    font-size: 32px;
    font-weight: 700;
}

.text3-sec5 {
    font-size: 16px;
}

.text4-sec5 {
    margin: auto 0;
}

.grid1-sec5 {
    display: grid;
    grid-template: auto/ repeat(2, 1fr);
    gap: 40px;
}

.on-sec5 {
    display: none;
}

.section-6 {
    padding: 60px 0;
}

.text1-sec6 {

    margin: 0 auto;
}

.text2-sec6 {
    font-weight: 400;
    color: #404040;
    padding-right: 40px;
    padding-left: 40px;
}

.text3-sec6 {
    font-weight: 600;
    font-size: 20px;
    color: #404040;
}

.text4-sec6 {
    font-weight: 600;
    color: #71717A;
    padding-bottom: 40px;
}

.grid-sec6 {
    display: grid;
    grid-template: auto/repeat(3, 1fr);
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 24px;
    padding-right: 24px;
    gap: 29px;
}

.text11-sec6 {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.grid-sec6 :hover {
    background-color: #000;
    border-radius: 20px;
    cursor: pointer;
}

.grid-sec6 :hover p {
    color: #FFFFFF;
}

.text5-sec6 {

    margin: 0 auto;
}

.text6-sec6 {
    font-weight: 400;
    color: white;
    padding-right: 40px;
    padding-left: 40px;
}

.text7-sec6 {
    font-weight: 600;
    font-size: 20px;
    color: white;
}

.text8-sec6 {
    font-weight: 600;
    color: white;
    padding-bottom: 40px;
}

.section-7 {
    padding: 60px 0;
}

.text11-sec7 {
    margin-bottom: 20px;
    display: flex;
    gap: 24px;
}

.input-three {
    height: 56px;
    width: 500px;
    padding: 18px 24px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1.4px solid black;
}

.input-4 {
    width: 500px;
    height: 140px;
    padding: 18px 24px;
    border-radius: 4px;
    border: 1.4px solid black;
    margin-bottom: 40px;
}

.flex11-sec7 {
    display: flex;
    gap: 24px;
}

.text1-sec7 {
    width: 173px;
    height: 56px;
    border-radius: 4px;
    padding: 16px 20px;
    background-color: black;
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}

.text12-sec7 {
    padding-bottom: 60px;
}

.flex-sec7 {
    display: flex;
}

.text2-sec7 {
    margin-right: 24px;
}

.text3-sec7 {
    font-weight: 800;
    font-size: 48px;
    color: #000;
}

.text4-sec7 {
    font-family: extra-bold;
    font-weight: 800;
    font-size: 48px;
    color: white;
    background-color: white;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.text5-sec7 {
    font-weight: 400;
    font-size: 16px;
    color: #71717A;
}

.text6-sec7 {
    font-weight: 600;
    font-size: 28px;
    color: #000;
}

.text7-sec7 {
    padding: 66px 0;
}

footer {
    background-color: black;
}

.text1-footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 24px;
}

.text2-footer {
    font-size: 20px;
    font-weight: 700;
}

.text3-footer {
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}

.nav-trigger {
    display: none;
    position: absolute;
    top: 20px;
    right: 16px;
    max-width: 100%;
    cursor: pointer;
}

.nav-trigger:hover {
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-radius: 2px;
}

.frame20-responsive-header {
    display: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /* semi-transparent black color */
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 1;
}

/* Định dạng cho màn hình có kích thước nhỏ hơn 576px */
@media (max-width: 576px) {
    .grid1-sec1 {
        display: flex;
        flex-direction: column;
    }

    .oder1 {
        order: 1;
    }

    .oder2 {
        order: 2;
    }

    .grid1-sec5 {
        display: block;
    }

    .on-sec5 {
        display: block;
    }

    .off-sec5 {
        display: none;
    }

}

/* Định dạng cho màn hình có kích thước nhỏ hơn 768px */
@media (max-width: 768px) {
    header .main-nav1 {
        flex-direction: column;
        /* Sắp xếp các phần tử theo chiều dọc */
        position: absolute;
        top: 0;
        left: 0;
        z-index: 11;
        padding-top: 50px;
        height: 100%;
        width: 300px;
        background-color: white;

    }

    header .main-nav {
        display: none;
    }

    ul li {
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
        margin-right: 20px;
    }

    .overlay {
        display: block;
        cursor: pointer;
    }

    header .main-nav.show {
        display: block;
    }

    .nav-trigger {
        display: block;
        border-radius: 4px;
    }

    .header-1 {
        display: block;
        /*cho btn xuống dòng */
    }

    .option-1 {
        padding-right: 10px;
        z-index: 11;
        background-color: white;
        padding-left: 0;
    }

    .BG-resume {
        display: none;
        /* Điều chỉnh vị trí của nút Resume */
    }

    .grid1-sec1 {
        display: flex;
        flex-direction: column;
    }

    .frame-20 {
        display: none;
    }

    .frame20-responsive-header {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .flex-sec1 {
        display: block;
    }

    .grid-skills {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .flex1-sec2 {
        display: flex;
        justify-content: space-between;
    }

    .disable {
        display: none;
    }

    .flex-sec3 {
        display: block;
    }

    .text2-sec3 {
        padding-top: 30px;
        padding-bottom: 28px;
        color: #D4D4D8;
    }

    .text3-sec4,
    .text1-sec4,
    .img1-sec4 {
        margin-left: 16px;
        margin-right: 16px;
    }

    .img1-sec4 {
        max-width: 100%;
        height: 374px;
        width: 343px;
        display: block;
        margin: 0 auto;
    }

    .grid-sec6 {
        display: flex;
        flex-direction: column;
    }

    .input-three {
        width: 343px;
    }

    .input-4 {
        padding: 16px 16px;
        width: 343px;
    }

    .flex-sec7 {
        display: block;
    }

    .section-7 {
        margin-left: 16px;
    }

    .text3-sec7,
    .text4-sec7 {
        font-size: 28px;
    }

    .text5-sec7 {
        font-size: 16px;
    }

    .text6-sec7 {
        font-size: 20px;
    }

    .text7-sec7 {
        margin-right: 20px;
        margin-left: 20px;
    }

    .oder1 {
        order: 1;
    }

    .oder2 {
        order: 2;
    }

    .text11-sec7 {
        display: block;
    }

    .text1-sec7 {
        margin-bottom: 20px;
    }

    .oder1 {
        order: 1;
    }

    .oder2 {
        order: 2;
    }

    .grid1-sec5 {
        display: block;
    }

    .on-sec5 {
        display: block;
    }

    .off-sec5 {
        display: none;
    }
}

/* Định dạng cho màn hình có kích thước nhỏ hơn 992px */
@media (max-width: 992px) {
    .grid-skills {
        grid-template: auto/ repeat(3, 1fr);
    }

    .disable-lg {
        display: none;
    }

    .disable {
        display: none;
    }

    .grid-sec1 {
        display: block;
    }

    .intro {
        padding-top: 0;
    }

    .grid1-sec5 {
        display: block;
    }

    .on-sec5 {
        display: block;
    }

    .off-sec5 {
        display: none;
    }

}

/* Định dạng cho màn hình có kích thước nhỏ hơn 1200px */
@media (max-width:1200px) {
    .grid-skills {
        grid-template: auto/ repeat(4, 1fr);
    }

    .disable {
        display: none;
    }


}